
<body>
<h1><u>Search Results for <%= params[:nation].gsub('+', ' ').split.map(&:capitalize).join(' ') %></u></h1>
<p> Total number of members: <%= @facade.count%> </p><br>
<table id="characters">
  <tr>
    <th>Name</th>
    <th>Affiliation</th>
    <th>Allies</th>
    <th>Enemies</th>
  </tr>
    <% @facade.take(25).each do |member|%>
    <tr>
      <td>
      <img src= <%= "#{member.photo_url}" %> height="200" > <br>
      <div class= "center">
      <%= member.name %>
      </div>
      </td>
      <td> <%= member.affiliation %></td>
      <td> <%= member.allies.join(', ') %> </td>
      <td> <%= member.enemies.join(', ') %></td>
    </tr>
    <% end %>
</table>
</body>
</html>